/*General Setting */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'popins',sans-serif;
}


/*Body Styling*/

body{
    background-color:grey;
    color: #0a0b0b;
    text-align: center;
}
/*Header Styling*/

header{
    background-color: rgb(213, 134, 32);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 26px;
}


/*Navbar Styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;

}

.logo{
    color: rgb(242, 240, 232);
    font-size: 1.5rem;
    font-weight: bold;

}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 10px;
}


nav ul li a{
    color: azure;
    text-decoration: none;
    font-size: 16px;


}

nav ul a:hover{
    color: rgb(255, 217, 0);
}

#home{background-color: linear-gradient(120deg,#51e762,#08883b);
    color: #fefcfe;
    padding: 120px 20px;


}

.profile-pic{
    width: 120px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
}



p{
    font-size: 1.1rem;
}
.btn{
    display: inline-block;
    background: black;
    color: white;
    border-radius: 20%;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px;
}
.btn:hover{
    background: #ff9800;
}
#about,#skills,#projects,#contact{
    padding: 50px 20px;
}
 h2{
    font-size: 2rem;
    margin-bottom: 15px;

 } 
 .skill{
    width: 80%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
 }  
.progress{
    background: #f4efef;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar{
    background: #ff9800;
    height: 70%;
    transition: width 1s;
}
input,textarea{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid#938f93;
}



button{
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 10px;
}




button:hover{
    background: #ff9800;
}






padding: 15px;
border-radius: 8px;
width:300px;
box-shadow: 0 3px 6px  (50,50,50);
transition: transform 0.





